.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: blue !important;
  border-radius: 0 !important;
  border: 0.1rem solid rgb(0, 0, 0) !important ;
}
body {
  text-align: center;
}

.nav-text {
  color: black;
}

.last-item {
  min-width: 150px;
}
