.all-btn {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  border: solid 1px;
  background-image: linear-gradient(to right, #3e4ae9 10%, #cc2a2a);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: rgb(255, 255, 255);
  font-weight: 700;
  cursor: pointer;
}
.all-btn:hover {
  background-image: linear-gradient(to right, #cc2a2a, #3e4ae9 40%);
}
.nav-btn :hover {
  height: 55px;
  width: 55px;
}
.nav-btn img {
  height: 50px;
  width: 50px;
}
