body {
  text-align: center;
}
.category {
  text-align: center;
  height: 350px;
  width: 260px;
  border: rgb(226, 217, 217) solid 1px;
  border-radius: 5px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  margin-right: 60px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 30px;
  position: relative;
}

#category-img {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#category-id {
  text-decoration: none;
  color: rgb(5, 5, 5);
}
.cart-btn {
  margin-top: 10px;
}
.price-btn {
  margin-bottom: 30px;
}
